@page "/fornecedores"

<section>
    <h1>Fornecedores</h1>

    <p>
        A Mater Domus busca fornecedores de utilidades domésticas,
        organização e produtos para o lar que desejam crescer
        junto no e-commerce brasileiro.
    </p>


    <ul>
        <li>Relacionamento transparente</li>
        <li>Compras recorrentes</li>
        <li>Visão de longo prazo</li>
    </ul>
</section>