<nav class="navbar navbar-expand-lg bg-white sticky-top border-bottom">
    <div class="container">
        <a class="navbar-brand fw-bold text-dark" href="">
            MinhaEmpresa
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto gap-3">
                <li class="nav-item">
                    <NavLink class="nav-link" href="">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">Quem Somos</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="services">Serviços</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="btn btn-primary px-4" href="contact">
                        Contato
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>